<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button routerLink="/contatos">
            <ion-icon name="arrow-back-outline">
            </ion-icon>
          </ion-button>
        </ion-buttons>

    <ion-title>Edita-Contato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-input type="text" 
      placeholder="Nome" 
      [(ngModel)]="nome" >
  
    </ion-input>
  
      <ion-input type="text" 
       placeholder="E-mail" 
       [(ngModel)]="email" >
  
        </ion-input>

        <ion-input type="text" 
        placeholder="Telefone" 
        [(ngModel)]="telefone" >
    
      </ion-input>

    <ion-button (click)="processar()">Ok</ion-button>
  </ion-content>
